In [94]:
library(haven) # read_dta
library(foreign) # read.dta

In [95]:
mydata <- read_dta("QDATA.dta")
mydata1 <- read.dta("QDATA.dta")

In [91]:
head(mydata,10)

   Casenew INDWGT    MCZ_1 MCZ_2 MCZ_3 MCZ_4 MCZ_5 MCZ_7 MCZ_8 MCZ_9 ... RSEX
1  12       20921.59  9     9     7    5      6    8      9    10    ... 2
2  15       90528.50  8     9     9    2     10    8     10    NA    ... 1
3  18       50285.04  7     8     8    0     10    8      8    NA    ... 1
4  20       40243.13  8    10    10    0      8    5      6    NA    ... 2
5  54      125510.36  9     9     8    7      7    7      9    NA    ... 2
6  54       99109.51  7     9     6    7      8    9      5    NA    ... 2
7  67       42479.44  9     9     8    1      9    6      9     9    ... 2
8  89       59994.19 10    10    10    0      9    9     10    NA    ... 1
9  91       28701.99 10    10     9    0     10    5     10    NA    ... 2
10 96       59065.91  7     6     4    9     10    7      8    NA    ... 1
   AGEXr Martstat3r HighEd4r Ethnicity2r DVILO3ar FtPtWkr NSECAC3 GorA
1  2     2          2        1           3        NA      4       11
2  3     1          2        1           1         1      1        3
3  3     1          4        2           1         1      3        2
4  5     1          4        1           3        NA      4        4
5  3     3          2        1           1         2      1        7
6  1     2          2        1           3        NA      4        8
7  2     1          1        1           1         2      2        8
8  3     1          2        1           1         1      2        4
9  6     3          2        1           3        NA      4        3
10 4     1          3        1           1         1      1        5
   INDWGTr
1  0.4244214
2  1.8364873
3  1.0200968
4  0.8163838
5  2.5461393
6  2.0105641
7  0.8617502
8  1.2170595
9  0.5822568
10 1.1982281

In [96]:
head(mydata1,10)

   Casenew INDWGT    MCZ_1 MCZ_2 MCZ_3 MCZ_4 MCZ_5 MCZ_7 MCZ_8 MCZ_9 ... RSEX
1  12       20921.59  9     9     7    5      6    8      9    10    ... Female
2  15       90528.50  8     9     9    2     10    8     10    NA    ... Male
3  18       50285.04  7     8     8    0     10    8      8    NA    ... Male
4  20       40243.13  8    10    10    0      8    5      6    NA    ... Female
5  54      125510.36  9     9     8    7      7    7      9    NA    ... Female
6  54       99109.51  7     9     6    7      8    9      5    NA    ... Female
7  67       42479.44  9     9     8    1      9    6      9     9    ... Female
8  89       59994.19 10    10    10    0      9    9     10    NA    ... Male
9  91       28701.99 10    10     9    0     10    5     10    NA    ... Female
10 96       59065.91  7     6     4    9     10    7      8    NA    ... Male
   AGEXr       Martstat3r
1  25 to 44    Single
2  45 to 54    Married/Cohabiting (includes same sex couples)/Civil Partner
3  45 to 54    Married/Cohabiting (includes same sex couples)/Civil Partner
4  65 to 74    Married/Cohabiting (includes same sex couples)/Civil Partner
5  45 to 54    Widowed/Divorced/Separated (includes same sex couples)
6  16 to 24    Single
7  25 to 44    Married/Cohabiting (includes same sex couples)/Civil Partner
8  45 to 54    Married/Cohabiting (includes same sex couples)/Civil Partner
9  75 and over Widowed/Divorced/Separated (includes same sex couples)
10 55 to 64    Married/Cohabiting (includes same sex couples)/Civil Partner
   HighEd4r             Ethnicity2r DVILO3ar              FtPtWkr
1  Below degree level   White       Economically Inactive NA
2  Below degree level   White       In Employment         Full-time
3  None                 Other       In Employment         Full-time
4  None                 White       Economically Inactive NA
5  Below degree level   White       In Employment         Part-time
6  Below degree level   White       Economically Inactive NA
7  Degree or equivalent White       In Employment         Part-time
8  Below degree level   White       In Employment         Full-time
9  Below degree level   White       Economically Inactive NA
10 Other qualifications White       In Employment         Full-time
   NSECAC3                     GorA                     INDWGTr
1  Not classified              Scotland                 0.4244214
2  Managerial and professional Yorkshire and the Humber 1.8364873
3  Routine and manual          North West               1.0200968
4  Not classified              East Midlands            0.8163838
5  Managerial and professional London                   2.5461393
6  Not classified              South East               2.0105641
7  Intermediate                South East               0.8617502
8  Intermediate                East Midlands            1.2170595
9  Not classified              Yorkshire and the Humber 0.5822568
10 Managerial and professional West Midlands            1.1982281

In [8]:
head(mydata$GorA)

<Labelled double>: Government Office Region
[1] 11  3  2  4  7  8

Labels:
 value                    label
     1               North East
     2               North West
     3 Yorkshire and the Humber
     4            East Midlands
     5            West Midlands
     6          East of England
     7                   London
     8               South East
     9               South West
    10                    Wales
    11                 Scotland

In [40]:
NorthEast <- subset(mydata, mydata$GorA == 1)
NorthWest <- subset(mydata, mydata$GorA == 2)
Yorkshire <- subset(mydata, mydata$GorA == 3)
EastMidlands <- subset(mydata, mydata$GorA == 4)
WestMidlands <- subset(mydata, mydata$GorA == 5)
EastEngland <- subset(mydata, mydata$GorA == 6)
London <- subset(mydata, mydata$GorA == 7)
SouthEast <- subset(mydata, mydata$GorA == 8)
SouthWest <- subset(mydata, mydata$GorA == 9)
Wales <- subset(mydata, mydata$GorA == 10)
Scotland <- subset(mydata, mydata$GorA == 11)

In [14]:
summary(SoutEast$MCZ_10)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  0.000   6.000   8.000   7.177   9.000  10.000

In [38]:
library(psych) # To use describe function
describe(SoutEast$MCZ_10)

   vars n   mean     sd       median trimmed  mad    min max range skew
X1 1    300 7.176667 2.354556 8      7.479167 1.4826 0   10  10    -1.067708
   kurtosis  se
X1 0.7328516 0.1359404

In [34]:
getmode <- function(x){
names(table(x))[table(x)==max(table(x))]
    }

In [56]:
summaries <- function(data){
    print(describe(data))
    cat("The mode : ", getmode(data))
}

In [68]:
summaries(SouthEast$MCZ_10)

   vars   n mean   sd median trimmed  mad min max range  skew kurtosis   se
X1    1 300 7.18 2.35      8    7.48 1.48   0  10    10 -1.07     0.73 0.14
The mode :  8

In [71]:
SouthEast$AGEXr

<Labelled double>: Grouped Age
  [1] 1 2 6 3 2 5 2 5 2 6 2 4 6 2 5 5 2 6 4 6 6 3 2 2 4 4 5 4 2 2 3 1 5 4 1 2 3
 [38] 4 3 6 2 1 2 2 5 2 6 3 2 6 4 4 5 4 5 2 3 4 6 6 4 3 2 4 5 3 5 2 2 2 4 2 5 2
 [75] 2 4 5 5 2 2 2 4 2 2 4 5 3 5 2 1 1 1 4 3 2 1 2 4 4 2 5 2 5 2 4 6 5 5 6 3 2
[112] 2 5 5 1 3 2 2 3 2 1 4 4 4 2 5 2 2 3 3 4 1 6 2 2 4 4 4 6 2 4 2 5 2 3 2 2 1
[149] 5 6 4 4 3 2 1 2 4 6 4 5 4 1 5 3 2 4 6 2 6 6 2 2 4 2 3 2 2 5 1 3 4 6 2 2 4
[186] 2 4 2 6 4 2 5 3 6 2 4 2 2 4 2 6 2 1 2 6 3 3 5 6 6 2 2 2 1 2 5 3 2 2 4 2 3
[223] 2 5 6 6 2 4 2 2 5 3 3 6 6 2 2 3 3 2 2 2 6 6 5 4 4 6 3 2 2 5 2 2 5 3 6 4 4
[260] 5 6 6 3 2 3 2 6 3 4 5 1 3 2 4 5 2 2 1 4 6 3 4 5 5 5 3 3 5 6 5 1 2 4 3 2 6
[297] 5 5 3 3

Labels:
 value       label
     1    16 to 24
     2    25 to 44
     3    45 to 54
     4    55 to 64
     5    65 to 74
     6 75 and over
    98     Refusal
    99  Don't Know

In [74]:
SouthE25to44 <- subset(SouthEast, SouthEast$AGEXr == 2)

In [88]:
length(SouthE25to44)

[1] 25

In [89]:
count <- table(SouthE25to44$DVILO3ar)
count[names(count)==2]/length(SouthE25to44)

   2
0.08

In [100]:
install.packages("descr", repos = "https://cran.us.r-project.org")

Installing package into 'C:/Users/Ismail/Documents/R/win-library/3.5'
(as 'lib' is unspecified)

package 'descr' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Ismail\AppData\Local\Temp\RtmpCc3wgH\downloaded_packages

In [101]:
library(descr)

Warning message:
"package 'descr' was built under R version 3.5.3"

In [110]:
mydata$QHealthr

<Labelled double>: How is your health in general?
   [1]  2  2  2  3  1  2  2  1  4  2  3  3  1  2  2  3  3  3  1  2  2  2  4  1
  [25]  1  2  2  2  1  1  1  2  3  1  2  2  5  3  1  4  2  1  2  3  3  1  2  2
  [49]  1  1  1  2  1  3  1  4  1  3  1  1  1  2  1  3  1  2  3  1  3  2  4  2
  [73]  1  1  2  1  2  3  2  3  3  2  2  2  1  2  2  1  1  2  2  2  2  2  1  5
  [97]  1  2  2  1  3  1  2  3  4  1  3  2  4  3  2  2  2  2  2  2  3  1  2  2
 [121]  3  1  3  1  2  3  1  2  1  1  1  1  3  1  1  1  2  5  2  2  2  2  3  2
 [145]  2  1  2  4  2  3  2  2  1  1  2  2  2  2  4  3  1  2  2  3  1  2  1  2
 [169]  1  3  2  1  1  1  1  3  3  1  2  1  1  1  3  2  1  3  3  3  2  2  1  1
 [193]  1  3  2  1  1  1  1  1  3  1  1  4  1  1  1  2  3  2  3  4  1  2  1  3
 [217]  2  1  2  2  3  2  1  3  2  2  1  1  2  2  3  2  1  3  2  1  2  1  4  3
 [241]  1  1  1  1  2  1  1  1  3  1  2  3  1  1  2  1  2  1  1  1  1  1  1  1
 [265]  1  2  2  2  3  1  3  2  2  1  2  2  2  2  1  2  4  2  2  1  1  1  2  2
 [289]  5  2  2  1  3  3  3  1  3  1  2  4  3  4  2  1  2  4  2  1  1  3  1  1
 [313]  2  1  1  2  1  2  2  1  1  2  2  1  4  2  2  1  2  1  2  1  1  2  2  4
 [337]  2  3  1  1  4  2  2  3  2  2  1  2  2  4  1  1  3  3  3  2  1  1  2  4
 [361]  1  3  2  2  3  2  2  3  5  1  2  1  1  1  2  4  3  3  3  1  1  4  2  1
 [385]  2  2  2  1  1  2  1  3  2  5  2  2  3  2  2  4  2  1  4  1  3  1  3  1
 [409]  3  2  1  2  1  2  2  1  2  2  2  2  1  1  2  1  1  2  3  1  2  3  1  1
 [433]  1  1  1  1  3  3  1  1  2  1  1  1  1  4  2  2  3  1  1  2  3  2  1  1
 [457]  2  4  1  1  4  2  1  2  1  1  3  5  1  1  2  1  3  1  3  3  1  1  1  1
 [481]  3  2  1  2  3  3  1  4  2  2  1  2  2  1  2  2  1  2  1  1  1  3  1  2
 [505]  1  2  2  2  1  3  1  5  2  1  2  3  1  1  1  1  3  1  2  2  2  1  1  2
 [529]  2  2  2 99  3  1  2  1  2  2  1  1  2  2  1  1  1  2  2  1  2  1  2  1
 [553]  3  2  3  2  1  1  1  1  4  2  1  1  3  2  2  1  3  4  3  1  1  1  2  2
 [577]  2  3  2  2  3  2  3  2  3  2  3  2  1  2  2  2  1  2  3  1  2  1  1  2
 [601]  2  1  2  1  2  2  3  2  2  2  1  4  1  4  2  2  2  4  1  5  2  2  1  1
 [625]  2  2  1  1  2  1  2  4  4  1  1  2  2  1  1  1  2  4  2  1  3  3  2  2
 [649]  2  1  3  1  2  2  1  2  4  2  1  2  2  4  1  1  1  3  2  1  2  2  1  2
 [673]  1  3  2  2  3  2  3  3  3  2  1  1  2  1  3  1  1  1  1  1  2  2  2  2
 [697]  1  2  3  1  2  3  1  3  1  2  3  2  1  2  2  4  1  2  3  4  1  1  2  2
 [721]  1  1  3  1  1  1  2  3  1  2  2  1  2  2  3  2  2  2  1  2  2  2  2  2
 [745]  1  3  1  3  2  1  1  2  3  3  2  1  1  5  3  1  2  1  1  2  1  2  2  1
 [769]  2  3  1  2  1  1  2  1  2  1  2  1  1  2  3  3  2  3  1  1  3  4  2  1
 [793]  1  1  2  1  1  2  2  3  2  2  1  1  3  5  1  2  2  1  2  1  2  2  1  3
 [817]  2  3  3  3  2  1  3  2  1  3  1  4  3  4  2  1  2  2  2  2  1  1  2  2
 [841]  2  1  3  2  1  1  2  4  3  1  2  2  2  2  1  1  2  3  3  1  1  3  3  1
 [865]  1  3  2  1  1  1  2  2  1  1  3  1  2  3  3  1  2  1  2  2  2  2  1  2
 [889]  1  4  1  1  1  1  2  2  1  2  1  3  3  2  3  2  2  2  1  2  2  1  2  3
 [913]  1  2  2  1  3  1  2  2  5  3  2  2  3  1  4  1  1  4  1  1  2  1  1  3
 [937]  1  1  2  3  1  1  1  3  1  3  2  2  2  2  4  1  4  1  2  2  1  1  4  2
 [961]  4  4  1  2  1  1  4  1  3  1  2  1  1  2  2  3  1  1  2  2  1  4  3  2
 [985]  1  2  1  1  2  2  2  2  1  2  2  2  2  2  2  1  1  3  2  2  4  3  2  2
[1009]  3  2  1  1  2  5  1  2  2  2  3  2  2  1  2  2  3  1  3  1  1  2  2  3
[1033]  1  4  3  2  2  3  1  2  1  2  1  4  2  2  2  2  2  2  3  1  2  2  3  3
[1057]  3  2  1  2  1  1  1  2  2  1  2  1  2  2  4  2  3  2  3  5  1  5  2  2
[1081]  4  2  3  1  1  2  1  4  2  2  4  1  3  3  2  3  2  3  2  1  2  1  4  3
[1105]  2  2  1  4  1  3  2  2  2  1  4  4  1  1  4  2  5  1  1  1  1  3  3  1
[1129]  2  4  3  1  2  1  2  3  1  1  1  2  3  1  2  1  1  2  2  3  2  2  2  3
[1153]  2  1  3  2  1  1  2  3  1  3  2  1  2  2  1  2  1  2  1  3  1  2  1  3
[1177]  2  3  2  2  3  3  2  1  2  1  1  1  1  3  2  2  1  2  1  2  2  3  2  2
[1201]  3  3  2  3  3  2  2  2  2  1  2  2  2  1  3  1  2  2  1  3  2  1  2  2
[1225]  1  3  1  2  3  2  3  4  1  1  1  4  1  2  1  3  1  2  3  1  5  1  1  1
[1249]  1  2  5  1  2  3  3  1  2  2  1  1  2  1  1  2  2  1  2  1  2  1  3  1
[1273]  1  1  1  1  1  1  4  3  2  2  2  1  1  2  1  2  2  3  2  1  2  2  2  5
[1297]  2  4  2  3  1  1  3  1  1  3  1  1  4  1  2  1  3  1  2  1  4  1  2  1
[1321]  4  1  2  2  2  3  2  1  1  2  3  3  5  2  1  2  2  3  4  1  3  2  4  1
[1345]  1  4  2  2  4  2  3  2  1  3  3  2  1  1  3  2  2  2  1  2  5  1  2  1
[1369]  2  2  1  1 98  3  1  4  3  2  2  2  3  2  2  2  2  3  3  2  1  3  1  2
[1393]  1  2  2  1  2  1  2  3  2  1  1  2  2  3  1  2  2  2  2  2  3  3  1  1
[1417]  3  2  1  2  1  4  2  3  3  5  5  1  1  1  5  1  1  1  1  2  1  2  3  2
[1441]  2  2  1  1  2  3  2  1  1  1  2  2  1  2  1  1  4  2  2  3  3  3  1  1
[1465]  1  1  2  1  1  1  2  2  2  3  2  2  1  2  1  2  1  3  3  5  1  3  3  2
[1489]  2  1  1  1  1  2  2  1  2  2  2  3  1  1  1  2  2  2  2  1  3  1  2  2
[1513]  2  2  3  2  2  3  2  3  2  2  1  1  2  1  2  2  2  1  1  2  3  1  1  3
[1537]  2  3  1  1  1  2  1  1  2  4  2  3  2  1  1  2  3  1  4  1  1  2  2  2
[1561]  2  3  2  2  4  2  2  1  3  1  1  3  2  1  1  1  3  2  1  2  1  1  1  3
[1585]  2  2  1  2  2  2  1  1  2  1  3  2  1  2  3  2  2  4  1  2  1  2  2  2
[1609]  3  2  2  2  4  1  2  1  2  3  1  1  3 98  2  3  1  3  2  1  5  3  1  3
[1633]  3  4  2  2  2  1  2  2  3  1  1  2  3  2  1  1  3  2  2  2  2  2  2  3
[1657]  3  1  2  3  3  4  1  1  2  2  2  1  1  1  2  3  1  1  2  2  1  1  1  2
[1681]  2  2  5  3  2  3  1  2  5  1  3  2  2  1  3  4  2  2  2  1  2  1  3  1
[1705]  2  2  4  1  2  2  3  1  1  1  2  3  4  2  3  2  1  2  2  4  2  2  1  3
[1729]  1  3  1  5  3  4  1  1  1  3  2  2  2  2  2  2  1  1  2  1  2  1  2  1
[1753]  1  1  3  4  1  2  2  2  1  5  2  3  2  1  3  2  1  3  1  3  3  1  1  2
[1777]  1  3  3  3  2  1  1  1 98  1  1  3  2  3  3  2  1  1  4  1  1  2  1  3
[1801]  1  4  5  2  2  2  1  2  2  3  2  2  3  2  1  1  2  1  3  2  1  3  1  2
[1825]  2  3  2  1  1  3  1  1  1  2  2  1  1  1  2  2  2  2  1  1  3  3  2  2
[1849]  1  2  1  3  1  2  1  2  5  4  2  2  1  1  1  1  2  2  2  1  1  2  1  1
[1873]  4  2  1  1  1  1  1  1  4  1  3  2  1  5  2  2  2  1  3  1  1  2  3  2
[1897]  1  1  2  1  1  3  1  2  2  1  1  1  3  1  1  2  2  3  1  1  3  2  2  2
[1921]  2  2  2  2  1  2  3  2  2  4  2  2  1  2  2  3  2  4  2  1  2  2  1  3
[1945]  1  2  2  5  3  3  2  2  3  1  2  2  3  5  2  1  1  1  1  1  1  3  1  2
[1969]  3  1  1  3  1  1  2  2  2  2  3  1  1  2  1  1  3  1  2  3  3  1  3  2
[1993]  5  1  4  1  1  3  3  2  4  3  5  3  2  2  2  2  2  3  3  1  1  2  3  4
[2017]  2  1  2  1  3  1  1  4  1  2  1  2  2  3  4  1  1  2  3  3  1  2  2  1
[2041]  2  1  3  1  2  3  1  3

Labels:
 value     label
     1 Very good
     2      Good
     3      Fair
     4       Bad
     5  Very bad
    98   Refusal
    99 Dont know

In [112]:
mydata$Ethnicity2r

<Labelled double>: Ethnicity White/Other (recoded)
   [1]  1  1  2  1  1  1  1  1  1  1  1  1  1  1  2  1  1  1  1  1  1  1  1  1
  [25]  1  1  1  1  1  1  1  1  1  1  2  1  1  1  2  2  1  1  2  1  1  1  1  1
  [49]  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  2  1  1
  [73]  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1 99  1  1  2  1
  [97]  1  1  1  1  1  1  1  1  1  1  1  1  1  2  1  1  1  1  1  2  1  1  2  1
 [121]  1  1  1  1  1  1  2  1  1  2  2  1  1  1  1  2  1  1  1  1  1  1  1  1
 [145]  1  1  1  1  1  1  2  1  1  1  1  1  2  1  1  2  1  1  1  1  1  1  1  1
 [169]  1  1  1  1  1  1  1  1  1  1  1  1  1  2  1  1  1  2  2  1  1  1  2  1
 [193]  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  2  2  2  1  1  1
 [217]  1  1  2  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  2  1  1
 [241]  1  1  1  1  2  1  1  1  1  1  1  1  1  1  1  2  1  1  1  1  1  1  1  1
 [265]  2  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
 [289]  1  1  1  1  1  1  1  1  1  1  2  1  1  1  1  1  2  2  1  1  1  1  1  1
 [313]  1  1  1  1  2  2  2  1  1  1  1  1  1  1  1  2  1  1  1  1  1  1  1  1
 [337]  1  1  1  1  1  1  1  1  2  1  1  1  1  1  1  2  1  1  1  2  1  1  1  1
 [361]  1  1  1  1  1  1  1  1  1  1  2  1  1  1  1  1  1  1  1  1  1  1  1  1
 [385]  1  1  1  1  1  1  1  2  1  1  1  1  1  1  1  1  1  1  2  1  1  1  1  1
 [409]  1  1  1  1  1  1  1  1  1  1  1  1  1  1  2  1  1  1  1  1  1  1  1  1
 [433]  1  1  1  2  1  1  1  1  1  1  1  1  1  1  1  2  1  1  1  1  1  1  1  1
 [457]  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  2  1  1
 [481]  1  1  1  1  1  2  1  1  1  1  1  1  1  2  1  1  1  1  1  1  2  1  1  1
 [505]  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
 [529]  2  1  1  1  1  2  2  1  1  1  1  1  1  1  1  2  1  1  1  1  1  1  1  1
 [553]  1  1  1  1  1  1  1  1  1  1  2  1  1  1  1  1  1  1  1  1  1  1  2  1
 [577]  1  1  2  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  2  1  1
 [601]  1  1  1  1  1  1  1  1  1  1  1  2  1  1  1  1  1  1  1  2  1  1  2  1
 [625]  2  1  1  1  1  1  2  1  1  1  1  1  1  1  1  1  1  1  1  2  1  1  1  2
 [649]  2  1  1  1  1  1  1  1  1  2  1  1  1  1  1  2  1  1  1  1  1  1  1  1
 [673]  2  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  2  2  1  1  1  1  1  1
 [697]  1  1  1  1  1  1  1  1  1  1  1  1  2  1  1  1  1  1  1  1  1  1  1  1
 [721]  1  1  1  2  1  1  1  1  1  1  2  1  1  1  1  1  1  1  1  1  1  1  1  1
 [745]  1  1  1  1  1  1  1  1  1  1  2  1  1  1  1  1  1  2  2  1  1  1  1  1
 [769]  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
 [793]  1  1  1  1  1  1  1  1  1  1  2  1  1  1  1  1  1  1  1  1  1  1  1  1
 [817]  1  1  1  1  1  1  1  2  1  1  1  1  1  1  1  1  1  1  1  1  1  1  2  1
 [841]  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
 [865]  1  1  1  1  1  1  1  1  1  2  1  1  1  1  1  1  1  1  1  1  1  1  1  1
 [889]  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  2  1  1  1
 [913]  1  1  1  2  1  1  1  1  1  1  1  1  1  2  1  1  1  1  1  1  1  2  2  1
 [937]  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  2  1  1  1  1  1  1  1  1
 [961]  1  1  1  1  1  1  1  1  1  1  1  1  1  2  1  1  2  1  2  1  1  1  2  1
 [985]  1  1  1  1  1  1  1  1  1  1  2  1  1  1  1  2  1  1  1  1  1  1  1  1
[1009]  1  1  1  1  1  1  1  1  1  2  1  1  1  1  1  1  1  1  1  1  2  1  1  1
[1033]  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
[1057]  1  1  1  1  1  1  2  1  1  1  1  1  1  2  1  1  1  1  1  1  1  1  1  1
[1081]  1  1  1  1  1  2  1  1  2  1  1  1  1  1  2  1  1  1  1  2  2  1  1  1
[1105]  1  1  1  1  1  1  1  1  2  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
[1129]  1  1  1  1  1  2  1  2  1  1  1  1  1  1  1  1  2  2  2  1  1  1  1  2
[1153]  1  1  2  1  1  1  1  1  1  1  2  1  2  1  1  1  1  1  1  1  1  1  1  1
[1177]  1  1  1  1  1  1  1  1  2  1  1  1  2  1  1  2  1  1  1  1  1  1  1  1
[1201]  1  1  2  1  1  1  1  2  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
[1225]  1  1  1  1  1  1  1  1  1  2  1  1  1  1  2  1  1  1  2  1  1  1  1  1
[1249]  1  1  2  1  1  2  1  1  1  1  1  2  1  1  1  1  1  1  1  2  1  1  1  1
[1273]  1  2  2  1  2  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
[1297]  1  1  1  2  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
[1321]  1  1  1  1  2  1  1  1  1  2  1  1  1  1  1  1  1  2  1  1  1  1  1  1
[1345]  1  1  2  1  1  1  1  1  2  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
[1369]  1  1  1  2  2  1  2  1  1  1  1  1  1  1  1  1  2  1  1  1  1  1  1  1
[1393]  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  2  1  1  1  1  1
[1417]  1  1  1  1  1  1  2  1  1  1  1  1  1  1  1  1  1  1  2  1  1  1  1  1
[1441]  1  2  1  1  2  1  1  1  1  1  1  1  1  1  1  1  1  2  1  1  1  1  1  2
[1465]  1  1  1  1  1  1  2  1  1  1  2  1  1  1  1  1  2  1  2  2  1  1  1  1
[1489]  1  1  1  1  1  2  1  1  1  1  1  1  1  2  1  1  1  2  1  1  1  1  1  2
[1513]  1  1  1  1  2  1  2  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
[1537]  2  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  2  1  1  1  1  1  1  1
[1561]  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  2  1  1  1
[1585]  1  1  2  1  1  1  1  1  1  1  1  1  1  1  1  2  1  1  1  1  1  1  1  1
[1609]  1  1  1  1  1  1  2  1  1  1  1  1  1  2  1  1  1  1  1  1  1  1  1  1
[1633]  1  1  1  1  1  1  1  1  1  1  1  1  1  1  2  1  1  1  1  1  1  1  1  1
[1657]  1  1  1  1  1  1  2  1  1  1  2  1  1  2  1  1  1  1  1  2  1  1  1  1
[1681]  2  1  1  1  1  1  1  2  1  1  1  1  1  2  1  1  2  1  1  1  1  1  1  1
[1705]  2  1  1  1  1  1  2  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
[1729]  1  1  1  1  1  1  1  1  1  1  1  2  1  1  1  1  1  1  1  2  2  1  1  2
[1753]  1  1  1  1  1  1  1  1  1  1  2  2  1  2  1  1  1  1  1  1  1  1  1  1
[1777]  1  1  1  1  1  1  2  1  1  2  1  1  1  1  1  1  1  1  1  1  1  1  1  1
[1801]  1  1  1  2  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
[1825]  1  2  1  1  1  2  1  1  1  1  1  1  2  1  1  1  2  1  1  2  1  1  2  1
[1849]  1  1  1  1  1  1  2  2  1  1  1  1  1  1  1  1  1  2  1  1  2  1  1  1
[1873]  1  1  1  1  1  1  1  2  1  1  1  1  1  1  1  1  1  1  1  1  2  1  1  1
[1897]  1  1  1  1  1  1  2  1  1  2  1  1  2  1  1  1  1  1  1  1  1  1  1  1
[1921]  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  2  1
[1945]  1  1  1  1  1  1  1  1  1  1  2  1  1  2  1  1  1  1  1  1  2  1  1  1
[1969]  1  1  1  1  1  1  1  1  2  1  1  1  1  1  1  1  1  1  1  1  1  2  1  1
[1993]  1  1  1  1  1  2  1  2  1  1  1  1  1  1  1  1  1  1  1  1  2  1  2  1
[2017]  1  1  1  1  1  1  1  1  1  1  2  2  1  1  2  1  1  1  1  1  1  1  1  1
[2041]  1  1  1  1  1  1  1  1

Labels:
 value     label
     1     White
     2     Other
    98   Refusal
    99 Dont know

In [122]:
crosstabulation <- CrossTable(mydata$Ethnicity2r, mydata$QHealthr)

Warning message in chisq.test(tab, correct = FALSE, ...):
"Chi-squared approximation may be incorrect"

In [123]:
names(crosstabulation)

 [1] "tab"           "prop.row"      "prop.col"      "prop.tbl"
 [5] "gt"            "rs"            "cs"            "total.n"
 [9] "chisq"         "CST"           "chisq.corr"    "fisher.ts"
[13] "fisher.lt"     "fisher.gt"     "print.mcnemar" "mcnemar"
[17] "mcnemar.corr"  "asr"           "RowData"       "ColData"
[21] "digits"        "max.width"     "vector.x"      "expected"
[25] "prop.chisq"    "resid"         "sresid"        "asresid"
[29] "format"        "cell.layout"   "row.labels"    "percent"
[33] "total.r"       "total.c"       "t"

In [133]:
crosstabulation$tab

    y
x      1   2   3   4   5  98  99
  1  664 701 335 101  33   1   1
  2   86  89  24   6   4   2   0
  99   0   1   0   0   0   0   0

In [134]:
crosstabulation$CST

	Pearson's Chi-squared test

data:  tab
X-squared = 21.557, df = 12, p-value = 0.0428